.breadcrumb{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 200px;
    text-transform: capitalize;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}