.promotions{
    width: 80vw;
    height: 80vh;
    display: flex;
    margin: auto;
}

.promotions-image-container{
    height: 90%;
    background-color: #111111;
}
.promotions-image-container img{
    height: 100%;
    width: 100%;
}

.promotions-item{
    flex: 1;
    display: block;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: flex-end;
}
.promotions-item h3{
    color: #111111;
    font-size: 20px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}
.promotions-item button{
    border: none;
    background: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}