.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #10509a;
    padding-top: 10vh;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600px;
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: whitesmoke;
    font-weight: 600;
    font-size: 25px;
}
.footer-links li{
    cursor: pointer;
}

.footer-social-icons{
    display: flex;
    gap: 50px;
}

.footer-icons-container{
    padding: 10px;
}