.hero{
    height: 110vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.hero-top{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 100vh;
}
.hero-bottom{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background:none;
    position: absolute;
    left: 60%;
    top: 15%;
}
.hero-bottom h2{
    color: #111111;
    font-size: 60px;
}
.hero-bottom p{
    color: #111111;
    font-size: 30px;
    margin: 1vh;
}
.hero-bottom button{
    color: whitesmoke;
    font-size: 25px;
    border-radius: 2px;
    border: none;
    width: 300px;
    height: 70px;
    background-color: #111111;
    margin: 2vh;
}